<h2>Reserva tu Mesa...</h2>

<form>
  Fecha:
  <input type="date" name="date" min="2019-09-13">
</form>


<br>

<div class="form-group">
  <label for="power">Reservaciones:</label>
  <select class="form-control" id="power" required>
    <option *ngFor="let pow of hours" [value]="pow">{{pow}}</option>
  </select>
</div>

<div class="form-group">
  <label for="power">Cantidad de Personas:</label>
  <select class="form-control" id="person" required>
    <option *ngFor="let per of persons" [value]="per">{{per}}</option>
  </select>
</div>


  <form>
    Buscar Restaurant:
    <input type="search" name="restaurantSearch" placeholder="Rep. Dom.,Santo Domingo, PatePalo">
  </form>
